.sign-in-label {
    color: black;
    width: 200px;
    font-size: 25px;
    margin-bottom: 100px;
}

.form-sign-content {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.container-sing-form {
    display: inline-block;
    padding: 30px;
    width: 600px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.btn-container {
    width: 100%;
}

.btn-social {
    display: flex;
    max-width: 300px;
    justify-items: center;
    align-items: center;
}

.btn-social > img {
    width: 20px;
    height: 20px;
}
.enter-btn {
    margin: 5px;
    text-transform: none !important;
    border-radius: 10px;
}

img {
    width: 40px;
    height: 40px;
}