.App-container {
    display: flex;
    flex-direction: row;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    max-width: 2048px;
    margin-right: auto;
    margin-left: auto;
}

.App-content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App h1 a {
    color: inherit;
    text-decoration: none;
}

footer {
    padding: 0.25rem 0rem;
    font-size: 0.75rem;
    opacity: 0.5;
}
