.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients h3 {
  margin-bottom: 2.25rem;
}

.clients table {
  table-layout: fixed;
  max-width: 800px;
}

.clients table th.tight {
  width: 2.75rem;
}

.clients table button {
  padding: 0rem;
}

.clients .add {
  color: green;
}

.clients .remove {
  color: red;
}
