.form {
  --padding: 1.75rem;
  position: relative;
  display: inline-block;
  padding: var(--padding);
  width: 24rem;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 2rem;
  border-radius: var(--border-radius);

}

.form .form-page-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -4rem;
  width: 100%;
  margin-left: calc(var(--padding) * -1);
}

.form .form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
}

.form .form-field-wrapper {
  margin-bottom: 1rem;
}

.form .form-field-error {
  color: var(--error);
  text-align: left;
  margin-left: 0.25rem;
  margin-top: 0.15rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.form .form-status {
  padding-top: 0.25rem;
  text-align: center;
}

.form .form-additional-content {
  text-align: center;
  padding-top: 1rem;
}

.form label {
  display: block;
  color: var(--list-border-color);
  font-size: 0.75rem;
  text-align: left;
  font-weight: bold;
  margin-left: 0.25rem;
  padding-bottom: 0.25rem;
}

.form input {
  padding: 2px 1px;
  width: calc(100% - 12px);
  height: 2.5rem;
  font-size: 0.9rem;
  color: var(--text);
  background-color: var(--button-bg);
  border: 1px solid var(--button-border-color);
  border-radius: var(--border-radius);
}

.form input[type="submit"] {
  margin-top: 1rem;
}