.account-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-data-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 10px;
    border: 0;
    border-spacing: 0;
}

.user-data-table td,
.user-data-table th {
    border: none;
    padding: 1.25rem;
    cursor: pointer;
}

.user-data-table tr:hover {
    background-color: #faf9f9;
}

.user-data-table td.left {
    text-align: left;
}

.user-data-table td.bold {
    font-weight: bold;
}

.user-data-table td.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-data-table td.right .field-value {
    margin-right: 0.25rem;
}

.user-data-table td.right .field-action {
    height: 1.25rem;
}

.user-data-table td.right .field-action ion-icon {
    font-size: 1.25rem;
    margin-left: 0.25rem;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    font-size: 2.75rem;
    margin-bottom: 4.25rem;
}

.exit-button {
    width: 8rem !important;
    margin-top: 1rem;
}